.App {
  display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: rgb(69, 69, 208);
}





html{
  background-color: rgb(69, 69, 208);
}

.message{
  text-align: center;
}


